* {
  box-sizing: border-box;
  margin: 0;
  padding: 0;
}

ul {
  list-style: none;
}

html, body {
  scroll-snap-type: y proximity;
}

img {
  display: block;
}

:root {
  --fontFamText: "Mona-Sans";
}

h1,
h2 {
  font-family: var(--fontFam);
  text-align: center;
  text-transform: capitalize;
}

h1 {
  color: var(--col-heading);
  font-size: 4.8vw;
}
@media screen and (min-width: 1280px) {
  h1 {
    font-size: 3.8vw;
  }
}
@media screen and (min-width: 2160px) {
  h1 {
    font-size: 2.8vw;
  }
}

h2 {
  color: var(--col-main);
  font-size: 1.2rem;
  font-size: clamp(1.2rem, 1.667vw, 1.667vw);
  text-shadow: 0px 0px 20px #fff;
  letter-spacing: 0.05em;
}

h3,
h4,
h6 {
  font-family: var(--fontFam);
  text-transform: uppercase;
}

h3 {
  font-size: 1.063rem;
  font-size: clamp(1.063rem, 1.042vw, 1.042vw);
  letter-spacing: 0.06rem;
}

h4 {
  font-size: 1rem;
  font-size: clamp(1rem, 0.885vw, 0.885vw);
  letter-spacing: 0.04em;
  word-spacing: 0.05em;
}

h6 {
  font-size: 1rem;
  font-size: clamp(1rem, 0.833vw, 0.833vw);
  letter-spacing: 0.04em;
  word-spacing: 0.05em;
  text-transform: lowercase;
}

p,
li,
dd,
button {
  color: #000;
  font-family: var(--fontFamText);
}

:root {
  --fontFamText: "Mona-Sans";
}

nav {
  z-index: 2;
  width: 100%;
  height: 11vh;
  position: fixed;
  display: flex;
  flex-wrap: wrap;
  justify-content: space-between;
  align-items: center;
  padding: 0 2.2vw 0 3vw;
  transform: translateY(2.6rem);
  transform: translateY(4.3vh);
  transition: 0.2s ease-out, background-color 1s;
}
nav.paint {
  background-color: var(--col-main-light);
}
nav.scr {
  padding: 0 1.2vw 0 1.8vw;
  transform: translateY(0rem);
}
nav.scr picture {
  transform: scale(0.75);
}
nav.scr ul li {
  padding: 0.9vw 2.2vw 0.8vw;
}
nav picture {
  width: 18vw;
  transition: transform 0.2s ease-out;
}
nav picture img {
  width: 100%;
  -webkit-filter: drop-shadow(3px 3px 3px rgba(0, 0, 0, 0.4));
  filter: drop-shadow(3px 3px 3px rgba(0, 0, 0, 0.4));
}
nav ul {
  display: flex;
}
nav ul li {
  padding: 1vw 2.7vw 0.9vw;
  color: #fff;
  font-family: var(--fontFam);
  font-size: 0.75rem;
  font-size: clamp(0.75rem, 0.729vw, 0.729vw);
  text-transform: uppercase;
  letter-spacing: 0.1vw;
  transition: padding 0.2s ease-out;
  cursor: pointer;
}

header {
  scroll-snap-align: start;
  height: 100vh;
  position: relative;
  display: flex;
  justify-content: center;
  align-items: center;
  background-image: linear-gradient(150deg, var(--col-main) 10%, var(--col-main-light) 40%, var(--col-main-light) 60%, var(--col-main) 100%);
}
header #buttons {
  position: absolute;
  bottom: 0;
  right: 0;
}
header #buttons button {
  cursor: pointer;
}

:root {
  --fontFamText: "Mona-Sans";
}

main section {
  height: 100vh;
  background-color: #f1f1f1;
  display: flex;
  flex-direction: column;
  scroll-snap-align: start;
  overflow: hidden;
}
main section > div {
  flex-basis: 78%;
  overflow: hidden;
}
main section h2 {
  margin-top: auto;
}

.about-us {
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
}
.about-us article {
  margin-bottom: 3vw;
  opacity: 0;
  transform: translate(4vw, 2vw);
  transition: 0;
  transition-delay: 0;
}
.about-us article:nth-of-type(1) {
  margin-left: -4vw;
}
.about-us article:nth-of-type(2) {
  margin-left: 1vw;
}
.about-us article:nth-of-type(3) {
  margin-left: 6vw;
}
.about-us.show article {
  transform: translate(0, 0);
}
.about-us.show article:nth-of-type(1) {
  transition-delay: 0.02s;
}
.about-us.show article:nth-of-type(2) {
  transition-delay: 0.32s;
}
.about-us.show article:nth-of-type(3) {
  transition-delay: 0.6s;
}
.about-us h4 {
  margin-bottom: 0.7vh;
  color: var(--col-monoc);
}
.about-us h4 span {
  font-size: 1.125rem;
  font-size: clamp(1.125rem, 0.938vw, 0.938vw);
}
.about-us p {
  width: 64ch;
  font-size: 1.094vw;
  font-size: clamp(1rem, 1.094vw, 1.094vw);
  line-height: 1.5em;
  letter-spacing: 0.03em;
  word-spacing: 0.05em;
}
.about-us p span {
  color: var(--col-compl);
  color: var(--col-complOfMonoc);
  font-family: var(--fontFamText);
  font-size: 1.438rem;
  font-size: clamp(1.1rem, 1.198vw, 1.198vw);
  font-weight: 900;
}

.services {
  display: grid;
  grid-template-columns: repeat(2, max-content);
  gap: 4.8vw 0;
  justify-content: center;
  align-content: center;
}
@media screen and (min-width: 1024px) {
  .services {
    padding-left: 2vw;
  }
}
.services article {
  padding: 0 2vw;
  opacity: 0;
  transition: 0;
  transition-delay: 0;
}
.services article:nth-of-type(1) {
  transform: translate(4vw, 0);
}
.services article:nth-of-type(1) img {
  width: 50%;
}
.services article:nth-of-type(2) {
  transform: translate(4vw, 2vw);
}
.services article:nth-of-type(2) img {
  width: 65%;
}
.services article:nth-of-type(3) {
  transform: translate(7vw, 0vw);
}
.services article:nth-of-type(3) img {
  width: 60%;
}
.services article:nth-of-type(4) {
  transform: translate(7vw, 2vw);
}
.services article:nth-of-type(4) img {
  width: 70%;
}
.services.show article:nth-of-type(1) {
  transform: translate(0, -2vw);
  transition-delay: 0.02s;
}
.services.show article:nth-of-type(2) {
  transform: translate(0, 0);
  transition-delay: 0.22s;
}
.services.show article:nth-of-type(3) {
  transform: translate(3vw, -2vw);
  transition-delay: 0.42s;
}
.services.show article:nth-of-type(4) {
  transform: translate(3vw, 0);
  transition-delay: 0.62s;
}
.services hgroup {
  display: flex;
  align-items: center;
  padding-left: 0.9rem;
  margin-bottom: 2.2vh;
}
.services hgroup span {
  display: flex;
  justify-content: center;
  align-items: center;
  border-radius: 50%;
  width: 3rem;
  width: clamp(3rem, 3.229vw, 3.229vw);
  height: 3rem;
  height: clamp(3rem, 3.229vw, 3.229vw);
  background-color: var(--col-monoc);
  margin-right: 1.667vw;
}
.services hgroup h3 {
  color: var(--col-main);
  text-decoration: underline;
}
.services li {
  font-size: 1.063rem;
  font-size: clamp(1.063rem, 1.042vw, 1.042vw);
  line-height: 1.8em;
  letter-spacing: -0.02rem;
}

.contact {
  display: grid;
  grid-template-columns: 1fr 1fr 1fr;
}
.contact article {
  border: px solid silver;
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
}
.contact h4, .contact ul, .contact h6 {
  margin-bottom: 1.3vw;
}
.contact h4 {
  color: var(--col-complOfMonoc);
  text-align: center;
  line-height: 1.6em;
}
.contact h4 span {
  text-transform: lowercase;
}
.contact dl {
  display: flex;
  flex-direction: column;
  align-items: center;
}
.contact dt img {
  width: 2vw;
  margin-bottom: 1vw;
}
.contact dd {
  margin-bottom: 3vw;
  text-align: center;
  color: #222;
  font-size: 0.875rem;
  font-size: clamp(0.875rem, 0.833vw, 0.833vw);
}
.contact dd a {
  font-weight: 600;
  color: #222;
  letter-spacing: 0.1em;
}
.contact form {
  border: px solid silver;
  width: 100%;
  display: flex;
  flex-direction: column;
  align-items: center;
}
.contact form label, .contact form input, .contact form textarea {
  width: 70%;
  font-family: var(--fontFamText);
}
.contact form label {
  margin-bottom: 0.5vw;
  color: #777;
  font-size: 1rem;
  font-size: clamp(1rem, 0.99vw, 0.99vw);
  font-weight: 900;
}
.contact form input, .contact form textarea, .contact form button {
  border-radius: 10px;
  letter-spacing: 0.04em;
}
.contact form input, .contact form textarea {
  border: 1px solid #ccc;
  padding: 0.4vw 0.8vw;
  background-color: transparent;
  font-size: 1.125rem;
  line-height: 1.6;
}
.contact form input:hover, .contact form textarea:hover {
  border: 1px solid #bbb;
}
.contact form input:focus, .contact form textarea:focus {
  border: 1px solid #aaa;
}
.contact form input {
  min-height: 1em;
  margin-bottom: 2vw;
}
.contact form textarea {
  min-height: 2em;
  margin-bottom: 1vw;
}
.contact form button {
  align-self: flex-end;
  border: none;
  padding: 0.7vw 1.2vw 0.73vw;
  margin-right: 15%;
  background-color: var(--col-main);
  color: #fff;
  font-weight: 900;
  cursor: pointer;
}
.contact li {
  font-size: 1rem;
  font-size: clamp(1rem, 0.938vw, 0.938vw);
  margin-bottom: 1.2vw;
}
.contact li span {
  color: var(--col-monoc);
  font-size: 0.8em;
}
.contact h6 {
  color: var(--col-monoc);
}
.contact h6 figure {
  display: inline-block;
  transform: rotate(180deg);
}

.show article {
  opacity: 1;
  transition: transform 0.38s ease-out, opacity 0.6s ease-out;
}

.pulse {
  animation-name: pulse;
  animation-duration: 1s;
  animation-iteration-count: infinite;
}

@keyframes pulse {
  0% {
    transform: scale(1);
  }
  50% {
    transform: scale(0.96);
  }
  100% {
    transform: scale(1);
  }
}
:root {
  --fontFamText: "Mona-Sans";
}

footer {
  scroll-snap-align: start;
  background-color: var(--col-main);
  display: flex;
  flex-wrap: wrap;
  justify-content: center;
  align-items: center;
  flex-direction: column;
  padding: 15vh 0 12vh;
}
footer p {
  border: px solid yellow;
  width: 50ch;
  margin-bottom: 14vh;
  color: #fff;
  font-family: var(--fontFamText);
  font-size: 1.125rem;
  font-size: clamp(1.125rem, 1.354vw, 1.354vw);
  font-style: italic;
  word-spacing: 0.1em;
  line-height: 1.5;
}
footer small {
  border: px solid green;
  color: #fff;
  font-family: "Mona-Sans";
}/*# sourceMappingURL=style.css.map */