* {
  box-sizing: border-box;
  margin: 0;
  padding: 0;
}

html,
body {
  scroll-snap-type: y proximity;
}

body {
  width: 100%;
}

img {
  display: block;
}

ul {
  list-style: none;
}

fieldset {
  border: none;
}
fieldset input,
fieldset textarea {
  outline: 0;
}

a {
  text-decoration: none;
}

:root {
  --fontFamText: "Mona-Sans";
  --fontFam: "Neue Haas Grotesk Display Pro";
  --col-main: #d44d5c;
  --col-main-light: #d44d5c;
  --col-sec: #C02E3E;
  --col-monoc: #C02E3E;
  --col-compl: #4DD4C5;
  --col-complOfMonoc: #2EC0B0;
  --col-heading: #ffffff;
  --col-bg: #f1f1f1;
  --col-grey:#ddd;
}

h1,
h2 {
  font-family: var(--fontFam);
  text-align: center;
  text-transform: capitalize;
}

h3,
h4,
h6 {
  font-family: var(--fontFam);
  text-transform: uppercase;
}

h3 {
  font-size: 0.938rem;
  font-size: clamp(0.938rem, 1.042vw, 1.042vw);
  letter-spacing: 0.06rem;
}

h4 {
  font-size: 0.875rem;
  font-size: clamp(0.875rem, 0.885vw, 0.885vw);
  letter-spacing: 0.04em;
  word-spacing: 0.05em;
}

h6 {
  font-size: 1rem;
  font-size: clamp(1rem, 0.833vw, 0.833vw);
  letter-spacing: 0.04em;
  word-spacing: 0.05em;
  text-transform: lowercase;
}

p,
a,
li,
dd,
button,
address {
  color: #000;
  font-family: var(--fontFamText);
}

:root {
  --fontFamText: "Mona-Sans";
  --fontFam: "Neue Haas Grotesk Display Pro";
  --col-main: #d44d5c;
  --col-main-light: #d44d5c;
  --col-sec: #C02E3E;
  --col-monoc: #C02E3E;
  --col-compl: #4DD4C5;
  --col-complOfMonoc: #2EC0B0;
  --col-heading: #ffffff;
  --col-bg: #f1f1f1;
  --col-grey:#ddd;
}

nav {
  z-index: 2;
  width: 100%;
  min-height: 10vmin;
  position: fixed;
  display: flex;
  flex-wrap: wrap;
  justify-content: space-between;
  align-items: center;
  padding: 0 2.2vmax 0 3.3vmax;
  transform: translateY(4.3vmin);
  transition: 0.2s ease-out, background-color 1s;
}
@media screen and (orientation: portrait) and (max-width: 479px) {
  nav {
    flex-direction: column;
    padding: 1vw 8vw;
  }
}
nav picture {
  width: 25vh;
  transition: transform 0.2s ease-out, margin 0.2s ease-out;
  padding-right: 1rem;
  margin: 2vw 0 8vw;
}
@media screen and (min-width: 480px) {
  nav picture {
    width: 16vmax;
    margin: unset;
  }
}
@media screen and (min-width: 768px) {
  nav picture {
    width: 18vmax;
  }
}
nav picture img {
  width: 100%;
  -webkit-filter: drop-shadow(3px 3px 3px rgba(0, 0, 0, 0.4));
  filter: drop-shadow(3px 3px 3px rgba(0, 0, 0, 0.4));
}
nav ul {
  display: flex;
}
@media screen and (orientation: portrait) and (max-width: 479px) {
  nav ul {
    width: 100%;
    justify-content: center;
    justify-content: space-evenly;
  }
}
nav ul li {
  padding: 1vw 2.7vw 0.9vw;
  color: #fff;
  font-family: var(--fontFam);
  font-size: 0.75rem;
  font-size: clamp(0.75rem, 0.729vmax, 0.729vmax);
  text-transform: uppercase;
  letter-spacing: 0.1vw;
  transition: padding 0.2s ease-out;
  cursor: pointer;
}

nav.paint {
  background-color: var(--col-main-light);
}

nav.scr {
  padding: 0 1.2vmax 0 0.4vmax;
  transform: translateY(0rem);
}
@media screen and (orientation: portrait) and (max-width: 479px) {
  nav.scr {
    padding: 1.2vw 0;
  }
}
nav.scr picture {
  transform: scale(0.75);
}
@media screen and (orientation: portrait) and (max-width: 479px) {
  nav.scr picture {
    margin: 0.2vw 0 1.5vw;
    transform: scale(0.58);
  }
}
nav.scr ul li {
  padding: 0.9vw 2.2vw 0.8vw;
}

header {
  position: relative;
  height: 100vh;
  display: flex;
  justify-content: center;
  align-items: center;
  background-image: linear-gradient(150deg, var(--col-main) 10%, var(--col-main-light) 40%, var(--col-main-light) 60%, var(--col-main) 100%);
  scroll-snap-align: start;
}
header h1 {
  color: var(--col-heading);
  font-size: 4.8vmax;
}
@media screen and (min-width: 1280px) {
  header h1 {
    font-size: 3.8vw;
  }
}
@media screen and (min-width: 2160px) {
  header h1 {
    font-size: 2.8vw;
  }
}
header h1 br {
  display: none;
}
@media screen and (orientation: portrait) {
  header h1 br {
    display: inline-block;
  }
}
header h2 {
  color: var(--col-grey);
  font-size: 2.5vmax;
  letter-spacing: 0.05em;
}
header #buttons {
  position: absolute;
  bottom: 0;
  right: 0;
}
header #buttons button {
  cursor: pointer;
}

@media screen and (orientation: landscape) {
  .heading-portrait {
    display: none;
  }
}

@media screen and (orientation: portrait) {
  .heading-landscape {
    display: none;
  }
}

:root {
  --fontFamText: "Mona-Sans";
  --fontFam: "Neue Haas Grotesk Display Pro";
  --col-main: #d44d5c;
  --col-main-light: #d44d5c;
  --col-sec: #C02E3E;
  --col-monoc: #C02E3E;
  --col-compl: #4DD4C5;
  --col-complOfMonoc: #2EC0B0;
  --col-heading: #ffffff;
  --col-bg: #f1f1f1;
  --col-grey:#ddd;
}

main section {
  height: 100vh;
  background-color: var(--col-bg);
  display: flex;
  flex-direction: column;
  scroll-snap-align: start;
  overflow: hidden;
}
main section > div {
  flex-basis: 84%;
  padding-bottom: 1vh;
}
@media screen and (orientation: portrait) and (min-width: 601px) {
  main section > div {
    flex-basis: 82%;
  }
}
@media screen and (orientation: landscape) {
  main section > div {
    flex-basis: 80%;
  }
}
main section h2 {
  margin-top: auto;
  color: var(--col-main);
  font-size: 1.2rem;
  font-size: clamp(1.2rem, 1.667vw, 1.667vw);
  letter-spacing: 0.05em;
  text-shadow: 0px 0px 20px #fff;
}

.about-us article,
.services article {
  opacity: 0;
  transform: translate(4vw, 2vw);
  transition: 0;
  transition-delay: 0;
}

.show article {
  opacity: 1;
  transform: translate(0, 0);
  transition: transform 0.38s ease-out, opacity 0.6s ease-out;
}

.about-us {
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
}
.about-us article {
  margin-bottom: 4vh;
}
.about-us article:nth-of-type(1) {
  margin-left: -3vw;
}
.about-us article:nth-of-type(2) {
  margin-left: 2vw;
}
.about-us article:nth-of-type(3) {
  margin-left: 7vw;
}
@media screen and (orientation: portrait) and (min-width: 480px) {
  .about-us article {
    margin-bottom: 11vw;
  }
}
@media screen and (orientation: landscape) {
  .about-us article {
    margin-bottom: 3vw;
  }
}
.about-us.show article:nth-of-type(1) {
  transition-delay: 0.02s;
}
.about-us.show article:nth-of-type(2) {
  transition-delay: 0.32s;
}
.about-us.show article:nth-of-type(3) {
  transition-delay: 0.6s;
}
.about-us h4 {
  margin-bottom: 0.7vmin;
  color: var(--col-monoc);
}
.about-us h4 span {
  font-size: 1rem;
  font-size: clamp(1rem, 0.938vw, 0.938vw);
}
.about-us p {
  width: 50ch;
  max-width: 82vw;
  font-size: 0.875rem;
  font-size: clamp(0.875rem, 1.094vmax, 1.094vmax);
  line-height: 1.5em;
  letter-spacing: 0.03em;
  word-spacing: 0.05em;
}
@media screen and (orientation: portrait) and (min-width: 412px) {
  .about-us p {
    max-width: 80vw;
  }
}
@media screen and (orientation: landscape) {
  .about-us p {
    width: 65ch;
    max-width: 80vw;
  }
}
.about-us p span {
  color: var(--col-complOfMonoc);
  font-family: var(--fontFamText);
  font-size: 0.938rem;
  font-size: clamp(0.938rem, 1.198vmax, 1.198vmax);
  font-weight: 900;
}

.services {
  display: grid;
  grid-template-columns: repeat(1, max-content);
  gap: 4vw 0;
  justify-content: center;
  align-content: center;
}
@media screen and (min-width: 768px) {
  .services {
    gap: 4vh 0;
    padding: 0 0 2vw 5vw;
  }
}
@media screen and (orientation: landscape) {
  .services {
    grid-template-columns: repeat(2, max-content);
    gap: 2vw;
    padding: 0 0 2vw 5vw;
  }
}
.services article {
  display: flex;
  flex-direction: column;
  justify-content: flex-end;
}
@media screen and (min-width: 768px) {
  .services article:nth-of-type(1) {
    padding-left: 0;
  }
  .services article:nth-of-type(2) {
    padding-left: 3vw;
  }
  .services article:nth-of-type(3) {
    padding-left: 6vw;
  }
  .services article:nth-of-type(4) {
    padding-left: 9vw;
  }
}
@media screen and (orientation: landscape) {
  .services article:nth-of-type(1) {
    padding: 0 0 2vw 0vw;
  }
  .services article:nth-of-type(2) {
    padding: 0;
  }
  .services article:nth-of-type(3) {
    padding: 0 0 2vw 2vw;
  }
  .services article:nth-of-type(4) {
    padding: 0 0 0 2vw;
  }
}
.services.show article:nth-of-type(1) {
  transition-delay: 0.02s;
}
.services.show article:nth-of-type(2) {
  transition-delay: 0.22s;
}
.services.show article:nth-of-type(3) {
  transition-delay: 0.42s;
}
.services.show article:nth-of-type(4) {
  transition-delay: 0.62s;
}
.services hgroup {
  display: flex;
  align-items: center;
  padding-left: 0.6rem;
  margin-bottom: 0.6vh;
}
@media screen and (min-width: 768px) {
  .services hgroup {
    padding-left: 0.9rem;
    margin-bottom: 1vh;
  }
}
@media screen and (orientation: landscape) {
  .services hgroup {
    margin-bottom: 2.2vh;
  }
}
.services hgroup span {
  border-radius: 50%;
  width: 2.2rem;
  width: clamp(2.2rem, 3.229vw, 3.229vw);
  height: 2.2rem;
  height: clamp(2.2rem, 3.229vw, 3.229vw);
  display: flex;
  justify-content: center;
  align-items: center;
  background-color: var(--col-monoc);
  margin-right: 1.8vmax;
}
.services hgroup h3 {
  color: var(--col-main);
  text-decoration: underline;
}
.services li {
  font-size: 0.875rem;
  font-size: clamp(0.875rem, 1.042vw, 1.042vw);
  line-height: 1.8em;
  letter-spacing: -0.02rem;
}

.contact {
  display: flex;
}
@media screen and (orientation: portrait) {
  .contact {
    flex-direction: column;
    justify-content: space-evenly;
  }
}
.contact article {
  width: 100%;
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
}
.contact .contact-info-main {
  display: none;
}
@media screen and (orientation: landscape) and (min-width: 1366px) {
  .contact .contact-info-main {
    display: flex;
  }
}
.contact .contact-info-main img {
  width: 2vw;
  margin-bottom: 1vw;
}
.contact .contact-info-main a, .contact .contact-info-main address {
  margin-bottom: 2.8vw;
  text-align: center;
  color: #222;
  font-size: 0.875rem;
  font-size: clamp(0.875rem, 0.833vw, 0.833vw);
  font-weight: 600;
  font-style: normal;
  letter-spacing: 0.1em;
}
@media screen and (orientation: portrait) {
  .contact .form {
    order: 2;
  }
}
.contact .teaser h4,
.contact .teaser h6 {
  display: none;
}
@media screen and (min-width: 375px) and (min-height: 800px) {
  .contact .teaser h4 {
    display: block;
  }
}
@media screen and (min-width: 768px) {
  .contact .teaser h6 {
    display: block;
  }
}
@media screen and (orientation: portrait) {
  .contact .teaser h6 figure {
    transform: rotate(90deg);
  }
}
.contact h4,
.contact ul,
.contact h6 {
  margin-bottom: 1.3vw;
}
.contact h4 {
  color: var(--col-complOfMonoc);
  text-align: center;
  line-height: 1.6em;
}
.contact h4 span {
  text-transform: lowercase;
}
.contact form {
  width: 86%;
  display: flex;
  flex-direction: column;
}
@media screen and (min-width: 480px) {
  .contact form {
    width: 75%;
  }
}
@media screen and (min-width: 768px) {
  .contact form {
    width: 50%;
  }
}
@media screen and (orientation: landscape) {
  .contact form {
    width: 70%;
  }
}
.contact form fieldset {
  margin-bottom: 2vh;
}
@media screen and (orientation: landscape) {
  .contact form fieldset {
    margin-bottom: 1.6vw;
  }
}
.contact form .missing {
  position: relative;
}
.contact form .missing label {
  color: var(--col-monoc);
}
.contact form .missing::after {
  content: "--required filed--";
  position: absolute;
  bottom: -16px;
  display: block;
  color: var(--col-monoc);
  font-size: 12px;
  text-align: right;
}
.contact form .missing::after,
.contact form label,
.contact form input,
.contact form textarea {
  width: 100%;
  font-family: var(--fontFamText);
}
.contact form label {
  color: #777;
  font-size: 1rem;
  font-size: clamp(1rem, 0.99vw, 0.99vw);
  font-weight: 900;
}
.contact form label span {
  color: var(--col-monoc);
}
.contact form input,
.contact form textarea,
.contact form button {
  border-radius: 10px;
  letter-spacing: 0.04em;
}
.contact form input,
.contact form textarea {
  display: block;
  position: relative;
  border: 1px solid #cecece;
  padding: 0.5vmax 0.8vmax;
  margin-top: 0.3vmax;
  background-color: transparent;
  font-size: 1.125rem;
  line-height: 1.6;
}
.contact form input:hover,
.contact form textarea:hover {
  border: 1px solid #bebebe;
}
.contact form input:focus,
.contact form textarea:focus {
  border: 1px solid #aaa;
}
.contact form input {
  min-height: 1em;
}
.contact form textarea {
  min-height: 2em;
}
.contact form textarea::placeholder {
  color: #bababa;
}
.contact form button {
  align-self: flex-end;
  border: none;
  padding: 0.75vmax 1.2vmax 0.77vmax;
  background-color: var(--col-main);
  color: #fff;
  font-weight: 900;
  cursor: pointer;
}
.contact li {
  font-size: 0.875rem;
  font-size: clamp(0.875rem, 0.938vw, 0.938vw);
  margin-bottom: 1.2vmax;
}
.contact li span {
  color: var(--col-monoc);
  font-size: 0.8em;
}
.contact h6 {
  color: var(--col-monoc);
}
.contact h6 figure {
  display: inline-block;
  transform: rotate(180deg);
}

.pulse {
  animation-name: pulse;
  animation-duration: 1s;
  animation-iteration-count: infinite;
}

@keyframes pulse {
  0% {
    transform: scale(1);
  }
  50% {
    transform: scale(0.96);
  }
  100% {
    transform: scale(1);
  }
}
:root {
  --fontFamText: "Mona-Sans";
  --fontFam: "Neue Haas Grotesk Display Pro";
  --col-main: #d44d5c;
  --col-main-light: #d44d5c;
  --col-sec: #C02E3E;
  --col-monoc: #C02E3E;
  --col-compl: #4DD4C5;
  --col-complOfMonoc: #2EC0B0;
  --col-heading: #ffffff;
  --col-bg: #f1f1f1;
  --col-grey:#ddd;
}

footer {
  height: 100vh;
  background-color: var(--col-main);
  padding: 8vh 0 0;
  scroll-snap-align: start;
  display: flex;
  flex-wrap: wrap;
  justify-content: space-evenly;
  align-items: center;
  flex-direction: column;
}
@media screen and (min-width: 480px) {
  footer {
    padding: 10vh 0 2vh;
  }
}
@media screen and (orientation: landscape) and (min-width: 1366px) {
  footer {
    height: 80vh;
    padding: 0;
  }
}
footer p {
  width: 50ch;
  max-width: 86%;
  color: #fff;
  font-family: var(--fontFamText);
  font-size: 1.063rem;
  font-size: clamp(1.063rem, 2vw, 1.563rem);
  font-style: italic;
  word-spacing: 0.1em;
  line-height: 1.6em;
}
footer .contact-info-footer {
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
}
@media screen and (orientation: landscape) and (min-width: 1366px) {
  footer .contact-info-footer {
    display: none;
  }
}
footer .contact-info-footer figure {
  width: 2rem;
  height: 2rem;
  border-radius: 50%;
  background-color: #fff;
  padding: 3%;
  margin-bottom: 0.8vmax;
}
footer .contact-info-footer figure img {
  width: 100%;
}
footer .contact-info-footer a {
  margin-bottom: 2vmax;
}
footer .contact-info-footer a,
footer .contact-info-footer address {
  text-align: center;
  color: var(--col-bg);
  color: #fff;
  font-size: 0.875rem;
  font-size: clamp(0.875rem, 0.833vw, 0.833vw);
  font-weight: 600;
  font-style: normal;
  letter-spacing: 0.1em;
}
footer small {
  color: #fff;
  text-align: center;
  font-family: "Mona-Sans";
  line-height: 1.6;
  text-transform: capitalize;
}/*# sourceMappingURL=style.css.map */