* {
  box-sizing: border-box;
  margin: 0;
  padding: 0;
}

ul {
  list-style: none;
}

html, body {
  scroll-snap-type: y proximity;
}

:root {
  --fontFamText: "Mona-Sans";
}

:root {
  --fontFamText: "Mona-Sans";
}

nav {
  border-top: 2.4rem solid transparent;
  width: 100%;
  height: 10rem;
  position: fixed;
  display: flex;
  flex-wrap: wrap;
  justify-content: space-between;
  align-items: center;
  padding: 0 2vw 0 3vw;
  z-index: 2;
  transition: 0.2s ease-out, background-color 1s;
}
nav.paint {
  background-color: var(--col-main-light);
}
nav picture {
  display: block;
  width: 12vw;
  transition: transform 0.2s ease-out;
}
nav picture img {
  display: block;
  width: 100%;
  -webkit-filter: drop-shadow(3px 3px 3px rgba(0, 0, 0, 0.4));
  filter: drop-shadow(3px 3px 3px rgba(0, 0, 0, 0.4));
}
nav ul {
  display: flex;
}
nav ul li {
  padding: 1vw 2.5vw 0.9vw;
  color: #fff;
  font-family: var(--fontFam);
  font-size: 0.9rem;
  text-transform: uppercase;
  letter-spacing: 0.1rem;
  transition: padding 0.2s ease-out;
  cursor: pointer;
}
nav.scr {
  padding: 0 1.2vw 0 1.8vw;
  transform: translateY(-2.4rem);
}
nav.scr picture {
  transform: scale(0.75);
}
nav.scr ul li {
  padding: 0.9vw 2.2vw 0.8vw;
}

header {
  scroll-snap-align: start;
  height: 100vh;
  position: relative;
  display: flex;
  justify-content: center;
  align-items: center;
  background-image: linear-gradient(150deg, var(--col-main) 10%, var(--col-main-light) 40%, var(--col-main-light) 60%, var(--col-main) 100%);
}
header #buttons {
  position: absolute;
  bottom: 0;
  right: 0;
}
header #buttons button {
  cursor: pointer;
}

h1 {
  color: var(--col-heading);
  font-size: 4.8vw;
  font-family: var(--fontFam);
  text-transform: capitalize;
  text-align: center;
}
@media screen and (min-width: 1280px) {
  h1 {
    font-size: 3.8vw;
  }
}
@media screen and (min-width: 2160px) {
  h1 {
    font-size: 2.8vw;
  }
}

:root {
  --fontFamText: "Mona-Sans";
}

main section {
  background-image: radial-gradient(#ffffff, #fefefe);
  scroll-snap-align: start;
  height: 100vh;
  padding: 18vh 16vw 0;
  padding: 18vh 0vw 0;
}
main section h2 {
  margin-bottom: 11vh;
  color: var(--col-main);
  font-size: 2rem;
  font-family: var(--fontFam);
  text-align: center;
  text-transform: capitalize;
  letter-spacing: 0.05rem;
}
main section .aboutus {
  border: px dashed red;
  padding: 0 22vw;
  display: grid;
  grid-template-columns: 10% 80% 10%;
  gap: 6vh;
}
main section .aboutus article {
  border: px solid rebeccapurple;
}
main section .aboutus article:nth-of-type(odd) {
  grid-column: 1/span 2;
}
main section .aboutus article:nth-of-type(even) {
  grid-column: 2/span 2;
}
main section .aboutus h4 {
  border: px solid dodgerblue;
  margin-bottom: 1.2vh;
  color: var(--col-monoc);
  font-family: var(--fontFam);
  font-size: 1.063rem;
  text-transform: uppercase;
  letter-spacing: 0.04em;
  word-spacing: 0.05em;
}
main section .aboutus p {
  border: px solid lime;
  color: #000;
  font-family: var(--fontFamText);
  font-size: 1.375rem;
  letter-spacing: 0.03em;
  word-spacing: 0.05em;
  line-height: 1.5;
}
main section .aboutus p span {
  color: var(--col-compl);
  color: var(--col-complOfMonoc);
  font-family: var(--fontFamText);
  font-size: 1.5rem;
  font-weight: 900;
}
main section .services {
  display: grid;
  grid-template-columns: 34rem 34rem;
  gap: 12vh 1rem;
  justify-content: center;
}
main section .services article {
  opacity: 0;
  transition: transform 0.5s ease-out, opacity 0.6s ease-out;
}
main section .services article hgroup {
  display: flex;
  align-items: center;
  padding-left: 0.9rem;
  margin-bottom: 2.2vh;
}
main section .services article hgroup span {
  display: flex;
  justify-content: center;
  align-items: center;
  border-radius: 50%;
  width: 62px;
  height: 62px;
  background-color: var(--col-monoc);
  margin-right: 2rem;
}
main section .services article hgroup span img {
  display: block;
  width: 60%;
}
main section .services article hgroup h3 {
  color: var(--col-main);
  font-family: var(--fontFam);
  font-size: 1.25rem;
  text-decoration: underline;
  text-transform: uppercase;
  letter-spacing: 0.06rem;
}
main section .services article li {
  color: #000;
  font-family: var(--fontFamText);
  font-size: 1.25rem;
  letter-spacing: -0.02rem;
  margin-bottom: 1vh;
}
main section .services article:nth-of-type(1) {
  transform: translate(10rem, 5rem);
}
main section .services article:nth-of-type(1) hgroup span img {
  width: 50%;
}
main section .services article:nth-of-type(2) {
  transform: translate(10rem, 7rem);
}
main section .services article:nth-of-type(2) hgroup span img {
  width: 65%;
}
main section .services article:nth-of-type(3) {
  transform: translate(12rem, 5rem);
}
main section .services article:nth-of-type(4) {
  transform: translate(12rem, 7rem);
}
main section .services article:nth-of-type(4) hgroup span img {
  width: 70%;
}
main section div.show article {
  opacity: 1;
}
main section div.show article:nth-of-type(1) {
  transform: translate(1rem, 0);
}
main section div.show article:nth-of-type(2) {
  transform: translate(1rem, 2rem);
}
main section div.show article:nth-of-type(3) {
  transform: translate(3rem, 0);
}
main section div.show article:nth-of-type(4) {
  transform: translate(3rem, 2rem);
}

:root {
  --fontFamText: "Mona-Sans";
}

footer {
  scroll-snap-align: start;
  background-color: var(--col-main);
  display: flex;
  flex-wrap: wrap;
  justify-content: center;
  align-items: center;
  flex-direction: column;
  padding: 12vh 0 10vh;
}
footer p {
  border: px solid yellow;
  width: 50ch;
  margin-bottom: 10vh;
  color: #fff;
  font-family: var(--fontFamText);
  font-size: 1.75rem;
  font-style: italic;
  word-spacing: 0.1em;
  line-height: 1.5;
}
footer small {
  border: px solid green;
  color: #fff;
  font-family: "Mona-Sans";
}/*# sourceMappingURL=style.css.map */