@import '../base/variables';

footer {
   scroll-snap-align: start;
   background-color: var(--col-main);
   display: flex;
   flex-wrap: wrap;
   justify-content: center;
   align-items: center;
   flex-direction: column;
   padding: 16vh 0 12vh;

   p { border: px solid yellow;
      width: 50ch;
      margin-bottom: 15vh;
      color: #fff;
      font-family: var(--fontFamText);
      font-size: 1.125rem;
      font-size: clamp(1.125rem, 1.354vw, 1.354vw);
      font-style: italic;
      word-spacing: .1em;
      line-height: 1.5;
   }

   small { border: px solid green;
      color: #fff;
      font-family: 'Mona-Sans';
   }
}