@import '../base/variables';

nav {
   z-index: 2;
   width: 100%;
   min-height: 10vmin;
   position: fixed;
   display: flex;
   flex-wrap: wrap;
   justify-content: space-between;
   align-items: center;
   padding: 0 2.2vmax 0 3.3vmax;
   transform: translateY(4.3vmin);
   transition: .2s ease-out, background-color 1s;

   @media screen and (orientation: portrait) and (max-width: 479px) {
      flex-direction: column;
      padding: 1vw 8vw;
   }

   picture {
      width: 25vh;
      transition: transform .2s ease-out, margin .2s ease-out;
      padding-right: 1rem;
      margin: 2vw 0 8vw;

      @media screen and (min-width: 480px) {
         width: 16vmax;
         margin: unset;
      }

      @media screen and (min-width: 768px) {
         width: 18vmax;
      }

      img {
         width: 100%;
         -webkit-filter: drop-shadow(3px 3px 3px rgba(0, 0, 0, 0.4));
         filter: drop-shadow(3px 3px 3px rgba(0, 0, 0, 0.4));
      }
   }

   ul {
      display: flex;

      @media screen and (orientation: portrait) and (max-width: 479px) {
         width: 100%;
         justify-content: center;
         justify-content: space-evenly;
      }

      li {
         padding: 1vw 2.7vw .9vw;
         color: #fff;
         font-family: var(--fontFam);
         font-size: 0.750rem;
         font-size: clamp(0.750rem, 0.729vmax, 0.729vmax);
         text-transform: uppercase;
         letter-spacing: .1vw;
         transition: padding .2s ease-out;
         cursor: pointer;
      }
   }
}

nav.paint {
   background-color: var(--col-main-light);
}

nav.scr {
   padding: 0 1.2vmax 0 .4vmax;
   transform: translateY(0rem);

   @media screen and (orientation: portrait) and (max-width: 479px) {
      padding: 1.2vw 0;
   }

   picture {
      transform: scale(.75);

      @media screen and (orientation: portrait) and (max-width: 479px) {
         margin: .2vw 0 1.5vw;
         transform: scale(.58);
      }
   }

   ul li {
      padding: .9vw 2.2vw .8vw;
   }
}

header {
   position: relative;
   height: 100vh;
   display: flex;
   justify-content: center;
   align-items: center;
   background-image: linear-gradient(150deg, var(--col-main) 10%, var(--col-main-light) 40%, var(--col-main-light) 60%, var(--col-main) 100%);
   scroll-snap-align: start;

   h1 {
      color: var(--col-heading);
      font-size: 4.8vmax;
   
      @media screen and (min-width: 1280px) {
         font-size: 3.8vw;
      }
   
      @media screen and (min-width: 2160px) {
         font-size: 2.8vw;
      }

      br {
         display: none;
   
         @media screen and (orientation: portrait) {
            display: inline-block;
         }
      }
   }

   h2 {
      color: var(--col-grey);
      font-size: 2.5vmax;
      letter-spacing: .05em;
   }

   #buttons {
      position: absolute;
      bottom: 0;
      right: 0;

      button {
         cursor: pointer;
      }
   }
}

.heading-portrait {
   @media screen and (orientation: landscape) {display: none;}
}

.heading-landscape {
   @media screen and (orientation: portrait) {display: none;}
}