@import '../base/variables';

main section {
   scroll-snap-align: start;
   height: 100vh;
   padding: 18vh 16vw 0;
   padding: 18vh 0vw 0;

   h2 {
      margin-bottom: 11vh;
      color: var(--col-main);
      font-size: 2rem;
      font-family: var(--fontFam);
      text-align: center;
      text-transform: capitalize;
      letter-spacing: .05rem;
   }

   div {
      display: grid;
      grid-template-columns: 34rem 34rem;
      gap: 12vh 1rem;
      justify-content: center;
   }

   article {
      opacity: 0;
      transition: transform .5s ease-out, opacity .6s ease-out;

      hgroup {
         display: flex;
         align-items: center;
         padding-left: .9rem;
         margin-bottom: 2.2vh;
         

         span {
            display: flex;
            justify-content: center;
            align-items: center;
            border-radius: 50%;
            width: 62px;
            height: 62px;
            background-color: var(--col-main);
            margin-right: 2rem;

            img {
               display: block;
               width: 60%;
            }
         }

         h3 {
            color: var(--col-main);
            font-family: var(--fontFam);
            text-decoration: underline;
            text-transform: uppercase;
            letter-spacing: 0.06rem;
         }
      }

      li {
         color: #000;
         font-family: var(--fontFamText);
         font-size: 1.25rem;
         letter-spacing: -0.02rem;
         margin-bottom: 1vh;
      }

      &:nth-of-type(1) {
         transform: translate(10rem, 5rem);
         hgroup span img {width: 50%;}
      }
      &:nth-of-type(2) {
         transform: translate(10rem, 7rem);
         hgroup span img {width: 65%;}
      }
      &:nth-of-type(3) {
         transform: translate(12rem, 5rem);
      }
      &:nth-of-type(4) {
         transform: translate(12rem, 7rem);
         hgroup span img {width: 70%;}
      }

   }

   div.show article {
      opacity: 1;
      &:nth-of-type(1) {transform: translate(1rem, 0);}
      &:nth-of-type(2) {transform: translate(1rem, 2rem);}
      &:nth-of-type(3) {transform: translate(3rem, 0);}
      &:nth-of-type(4) {transform: translate(3rem, 2rem);}
   }
}