@font-face {
    font-family: 'Neue Haas Grotesk Display Pro';
    src: url('NeueHaasDisplay-Bold.eot');
    src: local('NeueHaasDisplay-Bold'),
        url('NeueHaasDisplay-Bold.eot?#iefix') format('embedded-opentype'),
        url('NeueHaasDisplay-Bold.woff2') format('woff2'),
        url('NeueHaasDisplay-Bold.woff') format('woff'),
        url('NeueHaasDisplay-Bold.ttf') format('truetype'),
        url('NeueHaasDisplay-Bold.svg#NeueHaasDisplay-Bold') format('svg');
    font-weight: bold;
    font-style: normal;
    font-display: swap;
}

@font-face {
    font-family: 'Cal Sans';
    src: url('CalSans-SemiBold.eot');
    src: local('Cal Sans SemiBold'), local('CalSans-SemiBold'),
        url('CalSans-SemiBold.eot?#iefix') format('embedded-opentype'),
        url('CalSans-SemiBold.woff2') format('woff2'),
        url('CalSans-SemiBold.woff') format('woff'),
        url('CalSans-SemiBold.ttf') format('truetype');
    font-weight: 600;
    font-style: normal;
    font-display: swap;
}

@font-face {
    font-family: 'Mona-Sans';
    src: url('Mona-Sans-Regular.eot');
    src: local('Mona-Sans Regular'), local('Mona-Sans-Regular'),
        url('Mona-Sans-Regular.eot?#iefix') format('embedded-opentype'),
        url('Mona-Sans-Regular.woff2') format('woff2'),
        url('Mona-Sans-Regular.woff') format('woff'),
        url('Mona-Sans-Regular.ttf') format('truetype');
    font-weight: normal;
    font-style: normal;
    font-display: swap;
}






