* {
   box-sizing: border-box;
   margin: 0;
   padding: 0;
}

html,
body {
   scroll-snap-type: y proximity;
}

body {
   width: 100%;
}

img {
   display: block;
}

ul {
   list-style: none;
}

fieldset {
   border: none;

   input,
   textarea {
      outline: 0;
   }
}