h1, h2 {
   font-family: var(--fontFam);
   text-align: center;
   text-transform: capitalize;
}

h1 {
   color: var(--col-heading);
   font-size: 4.8vw;
   
   @media screen and (min-width: 1280px) {
      font-size: 3.8vw;
   }

   @media screen and (min-width: 2160px) {
      font-size: 2.8vw;
   }
}

h2 {
   color: var(--col-main);
   font-size: 1.2rem;
   font-size: clamp(1.2rem, 1.667vw, 1.667vw);
   text-shadow: 0px 0px 20px #fff;
   letter-spacing: .05em;
}