h1,
h2 {
   font-family: var(--fontFam);
   text-align: center;
   text-transform: capitalize;
}

h3,
h4,
h6 {
   font-family: var(--fontFam);
   text-transform: uppercase;
}

h3 {
   font-size: 0.938rem;
   font-size: clamp(0.938rem, 1.042vw, 1.042vw);
   letter-spacing: .06rem;
}

h4 {
   font-size: 0.875rem;
   font-size: clamp(0.875rem, 0.885vw, 0.885vw);
   letter-spacing: .04em;
   word-spacing: .05em;
}

h6 {
   font-size: 1rem;
   font-size: clamp(1rem, 0.833vw, 0.833vw);
   letter-spacing: .04em;
   word-spacing: .05em;
   text-transform: lowercase;
}

p,
a,
li,
dd,
button,
address {
   color: #000;
   font-family: var(--fontFamText);
}