:root {
   --fontFamText: 'Mona-Sans';
   --fontFam: 'Neue Haas Grotesk Display Pro';
   --col-main: #d44d5c;
   --col-main-light: #d44d5c;
   --col-sec: #C02E3E;
   --col-monoc: #C02E3E;
   --col-compl: #4DD4C5;
   --col-complOfMonoc: #2EC0B0;
   --col-heading: #ffffff;
}